* {
  margin: 0;
  padding: 0;
}
.navbar {
  /* padding: 8px 0 2px 0; */
  /* height: 150px; */
  width: 100%;
  /* position:fixed; */
  background-color: white;
  /* border: 3px solid; */
  z-index: 10;
  /* margin-top: -30px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* position: fixed; */
}
.top-div {
  height: 70px;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
}
.not-use {
  height: 100%;
  width: 15%;
}
.web-name {
  display: flex;
  height: 100%;
  width: 60%;
  text-align: center;
  margin-top: 12px;
  margin-left: 400px;
  /* border: 1px solid green;   */
}

.other-info {
  height: 100%;
  width: 20%;
  /* border: 1px solid lawngreen; */
}
.bottom-div {
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  /* border:  1px solid blue; */
}

.nav,.clear {
  margin: 20px;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2em;
  font-size: 14PX;
  /* justify-content: space-between; */

}
.nav:hover{
  color: rgb(7, 116, 116);
}
.clear {
  color: red;
  text-decoration: none;
}

.login > img {
  width: 35px;
  padding: 10px;
  /* margin-top: 10px; */
  /* margin: 20px; */
}
.cart > img {
  width: 45px;
  padding: 10px;
  /* margin-top: 5px; */
}
.search > img {
  width: 40px;
  padding: 10px;
}
span {
  padding: 20px;
}
.search{
  display: flex;
}
.cart_login{
  padding-left: 350px;
  display: flex;
}
